<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xian.demo.dao.ProductMapper">
    <select id="findAll" resultType="product">
        SELECT pid, price, name, `desc`, stock, `type`, isRecommend, status, pushTime, producerId, sellNumber, imgUrl
        FROM PRODUCT
    </select>
    <select id="findProductById" resultType="product">
        SELECT pid, price, name, `desc`, stock, `type`, isRecommend, status, pushTime, producerId, sellNumber, imgUrl
        FROM PRODUCT
        WHERE pid=#{param1} LIMIT 1
    </select>
</mapper>
