<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xian.demo.dao.UserMapper">
    <select id="findAll" resultType="user">
        select * from user
    </select>
    <select id="login" resultType="user">
        SELECT ID, un, phone, pw, headImage, status FROM USER WHERE un=#{param1} AND pw=#{param2} LIMIT 1
    </select>
    <insert id="register">
        INSERT INTO USER (ID, un, phone, pw, headImage, status,registerTime) VALUES(#{param1}, #{param2}, #{param3}, #{param4}, #{param5}, '0', #{param6});
    </insert>
    <select id="changeHeadImage" resultType="user">
        select * from user
    </select>
    <select id="checkUn" resultType="user">
        SELECT ID, un, phone, pw, headImage, status FROM USER WHERE un=#{param1} LIMIT 1
    </select>
    <update id="updateLastLoginTime">
        UPDATE USER SET lastLoginTime=#{param1} WHERE ID=#{param2}
    </update>
</mapper>
